.git
.gitignore
.venv

.env
.env.*
!.env.example

**/__pycache__/
**/*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log

poetry.lock
pyproject.toml

check_link_exist.py
create_link.py
proxy_test.py
